//FONTS
@import url("https://fonts.googleapis.com/css?family=Ek+Mukta:700|Muli:200,300,400");

//VARIABLES
$colorPrimary: #fc0;
$colorSecondary: #fff;
$colorTertiary: #000;
$ffPrimary: "Ek Mukta", sans-serif;
$ffSecondary: "Muli", sans-serif;

//GLOBAL
html,
body {
	height: 100%;
}
figure {
	margin: 0;
}

//TITLES
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0;
}

//BUTTONS
.btn {
	position: relative;
	padding: 0 15px;
	border-width: 2px;
	height: 40px;
	font-weight: 700;
	font-family: $ffPrimary;
	font-size: 16px;
	line-height: 38px;
	border-radius: 0;
	-webkit-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
	.fa {
		display: inline-block;
		position: absolute;
		overflow: hidden;
		right: 15px;
		top: 50%;
		width: 0;
		vertical-align: top;
		opacity: 0;
		box-shadow: none;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: ease-in-out 0.3s;
		transition: ease-in-out 0.3s;
	}
}
.btn-primary {
	&,
	&:link,
	&:visited {
		border-color: $colorPrimary;
		background-color: $colorPrimary;
		color: $colorTertiary;
	}
	&:hover,
	&:focus,
	&:active,
	&.active {
		padding-right: 40px;
		border-color: $colorPrimary;
		background-color: $colorPrimary;
		color: $colorTertiary;
		box-shadow: none;
		&:hover,
		&:focus,
		&:active,
		&.active {
			border-color: $colorPrimary;
			background-color: $colorPrimary;
			color: $colorTertiary;
			box-shadow: none;
		}
		.fa {
			width: 15px;
			opacity: 1;
		}
	}
}

//JUMBOTRON
.jumbotron {
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: inherit;
	color: $colorSecondary;
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba($colorTertiary, 0.75);
	}
	h1 {
		font-size: inherit;
	}
	p {
		margin-bottom: 0;
	}
}

//JUMBOTRON - Container
.jumbotronContainer {
	position: absolute;
	z-index: 10;
	left: 60px;
	right: 60px;
	top: 50%;
	padding: 30px 30px 30px 35px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.jumbotronContainerBefore {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	background-color: $colorPrimary;
}
.js .jumbotronContainerBefore {
	width: 0;
	opacity: 0;
}
.no-js .jumbotronContainerBefore {
	width: 5px;
	opacity: 1;
}

//JUMBOTRON - Figure
.jumbotronFigure {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	img {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: 100%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
.js .jumbotronFigure {
	opacity: 0;
}
.no-js .jumbotronFigure {
	opacity: 1;
}
@keyframes jumbotronFigureVisible {
	100% {
		transform: scale(1.1);
	}
}
.jumbotronFigure.visible {
	animation-duration: 30s;
	animation-fill-mode: both;
	animation-name: jumbotronFigureVisible;
}

//JUMBOTRON - Header
.jumbotronHeader {
	margin-bottom: 15px;
}

//JUMBOTRON - Category
.jumbotronCategory {
	display: block;
	position: relative;
	padding-left: 25px;
	font-family: $ffSecondary;
	font-size: 14px;
	line-height: 20px;
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 9px;
		width: 15px;
		height: 2px;
		background-color: $colorPrimary;
	}
}
.js .jumbotronCategory {
	left: -15px;
	opacity: 0;
}
.no-js .jumbotronCategory {
	left: 0;
	opacity: 1;
}

//JUMBOTRON - Title
.jumbotronTitle,
.jumbotron h1 {
	position: relative;
	margin-top: 3px;
	font-weight: 700;
	font-family: $ffPrimary;
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
	color: $colorPrimary;
}
.js .jumbotronTitle {
	left: -15px;
	opacity: 0;
}
.no-js .jumbotronTitle {
	left: 0;
	opacity: 1;
}

//JUMBOTRON - Body
.jumbotronBody {
	position: relative;
	margin-bottom: 30px;
	font-weight: 200;
	font-family: $ffSecondary;
	font-size: 16px;
	line-height: 22px;
	p {
		font-weight: inherit;
		font-size: inherit;
	}
}
.js .jumbotronBody {
	left: -15px;
	opacity: 0;
}
.no-js .jumbotronBody {
	left: 0;
	opacity: 1;
}

//JUMBOTRON - Footer
.jumbotronFooter {}
.js .jumbotronFooter {
	opacity: 0;
}
.no-js .jumbotronFooter {
	opacity: 1;
}

//RESPONSIVE
@media (max-width: 991px) {}
@media (max-width: 991px) and (orientation: portrait) {

	//JUMBOTRON
	.jumbotron {}

	//JUMBOTRON - Figure
	.jumbotronFigure {
		img {
			max-width: none;
			max-height: 100%;
		}
	}

}
@media (max-width: 767px) {

	//BUTTONS
	.btn {
		height: 34px;
		font-size: 14px;
		line-height: 31px;
	}

	//JUMBOTRON
	.jumbotron {}

	//JUMBOTRON - Container
	.jumbotronContainer {
		left: 30px;
		right: 30px;
		padding: 15px 15px 15px 20px;
	}

	//JUMBOTRON - Header
	.jumbotronHeader {
		margin-bottom: 5px;
	}

	//JUMBOTRON - Category
	.jumbotronCategory {
		font-size: 12px;
		line-height: 18px;
	}

	//JUMBOTRON - Title
	.jumbotronTitle,
	.jumbotron h1 {
		margin-top: 0;
		font-size: 40px;
		line-height: 40px;
	}

	//JUMBOTRON - Body
	.jumbotronBody {
		margin-bottom: 20px;
		font-size: 13px;
		line-height: 19px;
	}

}